<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0"/>

  <title>Appointments</title>

  <link rel="stylesheet"
        href="/css/style.css"/>
</head>
<body>

<div class="container">

  <h1>Appointment Management</h1>

  <form id="appointmentForm">

  <select
    id="patientSelect"
    name="patient_id"
    required>

    <option value="">
      Select Patient
    </option>

  </select>

  <select
    id="doctorSelect"
    name="doctor_id"
    required>

    <option value="">
      Select Doctor
    </option>

  </select>

  <input
    type="date"
    id="appointmentDate"
    name="appointment_date"
    required
  />

  <button type="submit">
    Book Appointment
  </button>

</form>

  <table>

    <thead>
      <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Speciality</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody id="appointmentTable"></tbody>

  </table>

</div>

<script src="/js/appointments.js"></script>

</body>
</html>